<template>
  <div>
  <el-container>
    <el-aside   width="260px" >
      <el-row class="el-row">
        <div class="logo">
          <img src="@/assets/logo_w.a7af3150.png" alt="" height="32">
        </div>
      </el-row>
    
      <el-col class="el-col">
        
        <div class="liebiao">
          <el-menu class="el-menu">
            <el-menu-item >
          <span slot="title">导航四</span>
          </el-menu-item>
          </el-menu>
          <el-menu>
            <el-menu-item class="el-menu-item">
          <span slot="title">导航四</span>
          </el-menu-item>
          </el-menu>
          <el-menu>
            <el-menu-item >
          <span slot="title">导航四</span>
          </el-menu-item>
          </el-menu>
        </div>
      </el-col>

    </el-aside>
    <el-container>
     <el-header>Header</el-header>
     <el-main>Main</el-main>
  </el-container>
</el-container>
    
  </div>

</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
  
}

</script>
<style>
   /* 引入 niubi.css 样式 */
  @import "navigation.css"
  /* 组件自身的样式 */
</style>

